.kud{
    background-color: white;
    width: 200PX;
    text-align: center;
    padding: 0 auto;
    position: relative;
    top: 100px;
    left: 250px;
  }
  
  .ku:hover{
    background-color: orange;
    border-radius: 15px;
  }
  
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
  }
  
  .background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 36;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  
  .background span:nth-child(0) {
    color: #583C87;
    top: 72%;
    left: 74%;
    animation-duration: 63s;
    animation-delay: -116s;
    transform-origin: -9vw -3vh;
    box-shadow: 40vmin 0 5.379908129230768vmin currentColor;
  }
  .background span:nth-child(1) {
    color: #583C87;
    top: 73%;
    left: 100%;
    animation-duration: 117s;
    animation-delay: -102s;
    transform-origin: 25vw 23vh;
    box-shadow: 40vmin 0 5.24934496748827vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #FFACAC;
    top: 77%;
    left: 49%;
    animation-duration: 71s;
    animation-delay: -14s;
    transform-origin: 24vw 9vh;
    box-shadow: 40vmin 0 5.036396664601629vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #FFACAC;
    top: 45%;
    left: 70%;
    animation-duration: 106s;
    animation-delay: -68s;
    transform-origin: -16vw -15vh;
    box-shadow: -40vmin 0 5.5811466637854235vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #583C87;
    top: 4%;
    left: 3%;
    animation-duration: 117s;
    animation-delay: -48s;
    transform-origin: 1vw -9vh;
    box-shadow: 40vmin 0 5.552353057029462vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #E45A84;
    top: 54%;
    left: 13%;
    animation-duration: 50s;
    animation-delay: -86s;
    transform-origin: -16vw 14vh;
    box-shadow: -40vmin 0 5.801458733047384vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #583C87;
    top: 81%;
    left: 80%;
    animation-duration: 86s;
    animation-delay: -87s;
    transform-origin: -1vw -11vh;
    box-shadow: -40vmin 0 5.098164340434451vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #FFACAC;
    top: 5%;
    left: 13%;
    animation-duration: 35s;
    animation-delay: -11s;
    transform-origin: 13vw -17vh;
    box-shadow: -40vmin 0 5.143363206626248vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #E45A84;
    top: 28%;
    left: 18%;
    animation-duration: 11s;
    animation-delay: -135s;
    transform-origin: 20vw 3vh;
    box-shadow: 40vmin 0 5.965602469493101vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #FFACAC;
    top: 54%;
    left: 27%;
    animation-duration: 46s;
    animation-delay: -87s;
    transform-origin: 12vw -14vh;
    box-shadow: 40vmin 0 5.729704047458321vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #E45A84;
    top: 69%;
    left: 10%;
    animation-duration: 133s;
    animation-delay: -121s;
    transform-origin: 2vw -17vh;
    box-shadow: 40vmin 0 5.099974002150144vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #FFACAC;
    top: 51%;
    left: 28%;
    animation-duration: 93s;
    animation-delay: -44s;
    transform-origin: -19vw -15vh;
    box-shadow: -40vmin 0 5.520443879888745vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #583C87;
    top: 36%;
    left: 75%;
    animation-duration: 130s;
    animation-delay: -48s;
    transform-origin: 25vw 2vh;
    box-shadow: 40vmin 0 5.762901511148102vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #E45A84;
    top: 38%;
    left: 5%;
    animation-duration: 120s;
    animation-delay: -102s;
    transform-origin: -1vw 7vh;
    box-shadow: -40vmin 0 5.761510270399486vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #583C87;
    top: 76%;
    left: 70%;
    animation-duration: 112s;
    animation-delay: -27s;
    transform-origin: -3vw -23vh;
    box-shadow: -40vmin 0 5.8048647245185vmin currentColor;
  }
  .background span:nth-child(15) {
    color: #FFACAC;
    top: 36%;
    left: 56%;
    animation-duration: 97s;
    animation-delay: -18s;
    transform-origin: 0vw -10vh;
    box-shadow: -40vmin 0 5.9740075811181175vmin currentColor;
  }
  .background span:nth-child(16) {
    color: #583C87;
    top: 89%;
    left: 50%;
    animation-duration: 88s;
    animation-delay: -91s;
    transform-origin: -24vw -15vh;
    box-shadow: -40vmin 0 5.36142724077886vmin currentColor;
  }
  .background span:nth-child(17) {
    color: #FFACAC;
    top: 40%;
    left: 5%;
    animation-duration: 106s;
    animation-delay: -29s;
    transform-origin: -13vw 24vh;
    box-shadow: -40vmin 0 5.352326108180396vmin currentColor;
  }
  .background span:nth-child(18) {
    color: #FFACAC;
    top: 60%;
    left: 96%;
    animation-duration: 79s;
    animation-delay: -66s;
    transform-origin: -8vw -21vh;
    box-shadow: -40vmin 0 5.817792244658184vmin currentColor;
  }
  .background span:nth-child(19) {
    color: #FFACAC;
    top: 10%;
    left: 16%;
    animation-duration: 79s;
    animation-delay: -3s;
    transform-origin: 23vw 18vh;
    box-shadow: -40vmin 0 5.574321357716316vmin currentColor;
  }
  
  .color-gray {
    color: gray;
  }
  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    padding: 1px 16px;
    text-decoration: none;
  }

  .home-page {
    overflow: hidden;
    background-color: #FDF3E7;
    margin-top: 42px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .box{
    width:100%;
    height: 250px;
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    
  }
  .home-page h1 {
    color: black;
    font-family:Oswald;
    font-size: 40px;
    width: 250px;
  }
  .home-page h2 {
    color: black;
    font-family:Oswald;
    font-size: 20px;
    width: 250px;
  }
  .smaller-image {
    position: relative;
    width: 250px;
    right:30px;
    left: 30px;
  }
.medium-image {
    position: relative;
    width: 300px;
    right:30px;
    left: 30px;
  }
  .project-page {
    overflow: hidden;
    background-color: #5bc0de;
    width: 100%; /* Full width */
  }
.project-page img{
  max-width:100%;
  margin: 30px;
	height:auto;
	display:block;
}
  .project-page h3{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: Oswald;
  }
  .box-2{
    width:100%;
    height: 650px;
    
  }
.grid {
	padding:0;
	max-width: 90%;
	list-style: none; 
	margin-top:20px;
}
project-page li {
	margin:20px;
  max-width:600px;
  @media(min-width:1023px) {
    max-width:420px;
    }
}
  .contact-page{
    overflow: hidden;
    background-color:#EFEFEF;
    width: 100%; /* Full width */
  }
.contact-page h3{
    color: Black;
    text-align: center;
    font-size: 40px;
    font-family: Oswald;
    padding: 10px;
  }
.box-3{
    width:100%;
    height: auto;
  }
.contact-page input{
  max-width:100%;
  margin: 30px;
	height:auto;
  	display:block;
  background: white;
  }
.contact-page button{
  background-color: white;
}
.social-page {
  overflow: hidden;
    background-color: #EFEFEF;
    width: 100%; /* Full width */
}
.box-4{
  width:100%;
    height: 250px;
}
.social-page h4 {
   color: Black;
    font-size: 40px;
    font-family: Oswald;
  margin-left: 10px;
}
.social-page button {
  color: black;
  padding: 0px;
  text-align: center; 
}
.btn {
  margin-left: 30px;
      display: block;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 2px solid white;
    }
.button {
  display:block;
  background: gray;
  margin:2px;
}